

.rank {
    text-align: center;
}

.rank > thead {
}

.rank td {
    padding-top: 10px;
    padding-bottom: 10px;
}
.rank th {
    padding: 10px 10px 10px 10px;

}

th, td {
    border-top: 2px solid #093580;
}

tbody > tr:nth-child(odd) {
    background-color: #f2f2f2;
}

@media  (min-width: 992px) {

    .rank {
        font-size:  1.313em;
    }
}

@media (max-width: 991px) and (min-width: 768px) {

    .rank {
        font-size: 1.250rem;
    }
}

@media (max-width: 767px) and (min-width: 576px) {

    .rank {
        font-size:  1.125rem;
    }
}

@media (max-width: 575px) {

    .rank {
        font-size:  1.125em;
    }
}