
/*tbody :last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}*/

table {
    /*border-collapse: separate;
    border: 2px solid blue;
    border-radius: 10px;*/

}


.rank {
    text-align: center;
}

.rank > thead {
}

.rank td {
    padding-top: 10px;
    padding-bottom: 10px;
}
.rank th {
    padding: 10px 10px 10px 10px;

}

th, td {
    border-top: 2px solid #093580;
}

tbody > tr:nth-child(odd) {
    background-color: #f2f2f2;
}