
.game-info {
    text-align: center;
}

.game-img {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .15) !important;
}

@media (min-width: 992px) {

    .game-info {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        margin: 40px 40px 40px 40px;
    }
    .game-img {
        margin: 20px 20px 20px 20px;
        width: 30%;
        height: auto;

    }
    .information {
        width: 45%;
    }

    .information > ol {
        font-size:  1.313em;
    }


}

@media (max-width: 991px) and (min-width: 768px) {

    .game-info {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        margin: 40px 40px 40px 40px;
    }
    .game-img {
        width: 35%;
        height: auto;

    }
    .information {
        width: 50%;
    }

    .information > ol {
        font-size:  1.250em;
    }


}

@media (max-width: 767px) and (min-width: 576px) {

    .game-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        padding: 10px 20px 10px 20px;
    }

    .game-img {
        width: 50%;
        height: auto;
        order: -1;
        margin: 20px 0 20px 0;
    }

    .information {
        width: 80%;
        order: 1;
    }

    .information > ol {
        font-size:  1.125em;
    }

}

@media (max-width: 575px) {

    .game-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        padding: 10px 20px 10px 20px;
    }

    .game-img {
        width: 70%;
        height: auto;
        order: -1;
        margin: 20px 0 20px 0;

    }

    .information {
        width: 100%;
        order: 1;
    }

    .information > ol {
        font-size:  1.125em;
    }

}