.quiz-info {
    display: flex;
}
#quiz-main {
    display: flex;
}
#quiz-time-rule {
    display: none;
}
#quiz-time-rule p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/*#quiz-nick {
    min-height: 400px;
}*/

.cont-text {
    color: black;
    text-align: left;
    margin-top: 15px;
}

.answer {
    background-color: white;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    display: none;
}


.answer:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}

.quiz-button {
    background-color: white;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    border: 2px solid black;

}

.quiz-button:hover {
    background-color: #CCCCCC;

}

.bad-answer {
    background-color: #E6001B;
}

.correct-answer {
    background-color:  #00FF37;
}


#question {
    display: none;
    margin: 30px 0 30px 0;
}
#quiz-time {
    display: block;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
#player-name {
    border: 0;
    border-bottom: black solid 2px;
    /*
    box-shadow: 0 0 1rem rgba(0, 0, 0, .15) !important;
    */
}
#player-name-warning {
    color: red;
    font-size: 12px;
    width: 50%;
    display: none;
    margin-top: 5px;
}
#replay {
    display: none;
}

#next {
    display: none;
}

#start {
    display: none;
}

#end {
    display: none;
}
/*
@media (min-width: 1100px) {
    .quiz-info {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        margin-top: 50px;
    }
    .quiz-main {
        width: 80%;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .answer {
        height: 70px;
        padding-top: 20px;
        margin-top: 80px;
        width: 300px;
        padding-left: 10px;
    }
    .quiz-button {
        height: 50px;
        width: 25%;
        margin-top: 80px;
    }
}
*/

@media(min-width: 992px) {
    .quiz-info {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    height: 250px;
    /*
    margin-top: 50px;
    */
    }
    #quiz-main {
        width: 80%;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 50px;
        font-size:  1.313em;

    }
    #quiz-nick {
        height: 430px;
    }
    #question {
        min-height: 48px;
    }
    .answer {
        height: 70px;
        padding-top: 20px;
        margin-top: 40px;
        width: 40%;
        padding-left: 10px;
    }
    .quiz-button {
        height: 50px;
        width: 25%;
        margin-top: 40px;
        font-size:  1.313rem;

    }
    .cont-text {
        width: 50%;
        font-size:  1.313rem;
    }
}



@media (max-width: 991px) and (min-width: 768px) {
    .quiz-info {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        margin-top: 50px;
    }
    #quiz-main {
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 50px;
        font-size:  1.250em;
    }
    .answer {
        height: 70px;
        padding-top: 20px;
        margin-top: 80px;
        width: 45%;
        padding-left: 10px;
    }
    .quiz-button {
        height: 50px;
        width: 30%;
        margin-top: 80px;
        font-size:  1.250rem;

    }
    .cont-text {
        width: 50%;
        font-size:  1.250rem;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .quiz-info {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        margin-top: 50px;
    }
    #quiz-main {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 50px;
        font-size:  1.125em
    }
    .answer {
        height: 70px;
        width: 100%;
        padding-top: 20px;
        margin-top: 40px;
        padding-left: 10px;
        font-size:  1.125rem

    }
    .quiz-button {
        height: 50px;
        width: 25%;
        margin-top: 80px;
    }
    .cont-text {
        width: 50%;
        font-size:  1.125rem
    }
}

@media (max-width: 575px) {
    .quiz-info {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        margin-top: 50px;
    }
    #quiz-main {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 10px;
        font-size:  1.125rem;
    }
    .answer {
        height: 50px;
        width: 100%;
        padding-top: 15px;
        margin-top: 20px;
        padding-left: 10px;
    }
    #question {
        margin: 15px 0 15px 0;
        min-height: 38px;
    }
    .quiz-button {
        height: 50px;
        width: 50%;
        margin-top: 30px;
        font-size:  1.125rem;
    }
    .cont-text {
        width: 100%;
        font-size:  1.125rem;
    }
}


/*!!!!!!!!!!!!!!!!!!!!!!Animacje!!!!!!!!!!!!!!!!!!!!!!!!!!1*/
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
    animation-name: fadeOut;

}
